body {
  background-color: #f400fc;

}

.App {
  text-align: center;
}

.App-header {
  min-height: 8vh; /* Reduced from 100vh to 80vh */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: rgb(253, 253, 253);
  padding: 0;
  margin: 0;
}

.App-subheader {
  margin-top: -20px;
  font-size: 22px;
  color: black;
}

.App-tinyparagraph {
  font-size: 10px;
  color: black;
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 10px; /* 100px above the bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.checkbox-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 1px;
}

.checkbox-container span {
  font-size: 16px; /* Adjust this value to change the text size */
}

.result {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  z-index: -1; /* Ensure it is behind other elements */
}


